[user]
	email = mcluo1994@gmail.com
	name = Ming Luo
[push]
	default = simple
[alias]
	# General shortcuts
	rt = remote -v
	co = checkout
	st = status
	cm = commit
	br = branch -v -v
	last = log -1 HEAD

	# Ammend last commit with current changes
	amend = commit --amend --no-edit
	amendall = commit -a --amend --no-edit
	whoops = !git amendall && git push --force

	# Displays git history beautifully
	tree = log --oneline --color --graph --decorate --abbrev-commit

	# Unstage or undo mistakes
	unstage = reset HEAD
	unstageall = reset HEAD --
	uncommit = reset --soft HEAD^
	clear = checkout -- *
	undo = reset --hard HEAD^ --

	# Updating to upstream shortcuts
	continue = rebase --continue
	pullup = !git pull upstream master && git push
	reup = !git rebase master && git push --force

    # Show aliases
	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
